<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>The Burn Book</title>
    <link rel='stylesheet' type='text/css' href='/css/normalize.css' />
    <!-- Google Fonts: Permanent Marker + Caveat -->
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Permanent+Marker&display=swap'
      rel='stylesheet'
    />
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css' />
    <link rel='stylesheet' type='text/css' href='/css/style.css' />
  </head>
  <body>
    {{#unless is404}}
      <nav id='nav'>
        <div id='header-wrapper'>
          <div id='logo-area'>
            <img id='logo' src='/images/burn-book-logo.svg' alt='Burn Book Logo' />
            <span id='site-title'><a href='/'>The Burn Book</a></span>
          </div>
          <ul id='nav-links'>
            <li><a href='/'>Home</a></li>
            {{#if loggedIn}}
              <li><a href='/dashboard'>Dashboard</a></li>
              <li><button id='logout-link'>Logout</button></li>
            {{else}}
              <li><a href='/login'>Login</a></li>
            {{/if}}
          </ul>
        </div>
      </nav>
    {{/unless}}

    {{{body}}}

    {{#unless is404}}
      <footer id='footerContainer'>
        <div id='footer-left'>
          <p class='footer-brand'>The Burn Book</p>
          <div class='footer-contact'>
            <span><i class='fa-solid fa-location-dot'></i> United States</span>
            <span><i class='fa-solid fa-phone'></i> (772) 834-2342</span>
            <span><i class='fa-solid fa-envelope'></i> mary.panda.jackson@gmail.com</span>
          </div>
        </div>
        <div id='footer-right'>
          <p class='footer-tagline'>Purebred Overwhelmed Homosapien seeking employment ✨</p>
          <div id='social-icons'>
            <a href='https://linkedin.com/in/404pandas' target='_blank' rel='noopener' aria-label='LinkedIn'>
              <i class='fa-brands fa-linkedin'></i>
            </a>
            <a href='https://github.com/404pandas' target='_blank' rel='noopener' aria-label='GitHub'>
              <i class='fa-brands fa-github'></i>
            </a>
          </div>
        </div>
      </footer>
    {{/unless}}

    <script src='/js/logout.js'></script>
  </body>
</html>
