<div id='page-content'>
  <div class='page-header'>
    <h1>The Burn Book</h1>
    <p>She doesn't even go here.</p>
  </div>

  <div id='posts-grid'>
    {{#each posts}}
      <div class='burn-card'>
        <h2 class='card-title'>
          <a href='/post/{{id}}'>{{title}}</a>
        </h2>
        <p class='card-meta'>by {{this.user.username}}</p>
        <p class='card-content'>{{content}}</p>
      </div>
    {{/each}}
  </div>
</div>
