<div class='dashboard-wrap'>
  <div class='dashboard-header'>
    <h1>My Pages</h1>
    <a href='/dashboard/new' class='btn-pink'>+ New Post</a>
  </div>

  {{#if posts.length}}
    {{#each posts}}
      <div class='burn-card'>
        <h2 class='card-title'>{{title}}</h2>
        <p class='card-content'>{{post_text}}</p>
        <div class='post-actions'>
          <a href='/dashboard/update/{{id}}' class='btn-ghost'>Edit</a>
        </div>
      </div>
    {{/each}}
  {{else}}
    <div class='empty-state'>
      <p>No posts yet. The burn book is empty... for now. 👀</p>
    </div>
  {{/if}}
</div>
