<div class='auth-page'>
  <div class='page-header'>
    <h1>Join The Plastics</h1>
    <p class='auth-subtitle'>On Wednesdays we blog in pink.</p>
  </div>

  <div class='burn-form'>
    <h2>Sign Up</h2>
    <form id='signup-form'>
      <div class='form-group'>
        <label for='username-input-signup'>Username</label>
        <input type='text' id='username-input-signup' autocomplete='username' />
      </div>
      <div class='form-group'>
        <label for='password-input-signup'>Password</label>
        <input type='password' id='password-input-signup' autocomplete='new-password' />
        <small id='password-error' class='error-text'></small>
      </div>
      <div class='form-actions'>
        <button type='submit' id='signup-btn' class='btn-pink'>Sign Up</button>
        <span class='auth-switch'>
          Already fetch? <a href='/login'>Login instead</a>
        </span>
      </div>
    </form>
  </div>
</div>

<script src='/js/signup.js'></script>
