<div class='card' id='signup-card'>
  <div class='card-header' id='signup-card-header'>
    <h2>Sign Up</h2>
  </div>
  <div id='signup' role='tabpanel'>
    <form id='signup-form' class='card-body'>
      <div class='signup-input'>
        <label for='username-input-signup'>Username</label>
        <input type='text' id='username-input-signup' />
      </div>
      <div class='signup-input'>
        <label for='password-input-signup'>Password</label>
        <input type='password' id='password-input-signup' />
        <small id='password-error' style='color: red;'></small>
      </div>
      <div id='signup-footer'>
        <button type='submit' id='signup-btn' class='btn'>Sign up</button>
        <a type='button' href='/login' id='login-button'>Login instead</a>
      </div></form>
  </div>
</div>

<script src='/js/signup.js'></script>