/* Slides to the left a whole bunch */

/* front */
#background-animate-front {
  background-image: "./images/background-back-layer.png";
  background-repeat: repeat-x;
  animation: slideleftfront 600s infinite linear;
}

@keyframes slideleftfront {
  from {
    background-position: 0%;
  }
  to {
    background-position: 90000%;
  }
}

/* left */
#background-animate-front {
  background-image: "./images/background-front-layer.png";
  background-repeat: repeat-x;
  animation: slideleftback 400s infinite linear;
}

@keyframes slideleftback {
  from {
    background-position: 0%;
  }
  to {
    background-position: 90000%;
  }
}
