/* ============================================================ *\
*         Mary Elenius Final Portfolio General Stylesheet         *
*      https://coolors.co/8cd5cf-fafbfb-4f565d-d5d8d7-000000     *
*                         05/02/2023                             *
\* -----------------------------------------------------------  */

/*                     Table of Contents:                       *\

* UNIVERSAL & VARIABLES
  ## Universal Selectors
  ## Color Variables

* ELEMENTS
  ## HTML
  ## Body

* FLEXBOX

* TYPOGRAPHY 
  ## Font Family
  ## Text wrap
  ## Code blocks
  ## Header Tags

* COMPONENTS
 ## Header
 ## Glitch Shape
 ## Buttons
 ## Footer

* HELPERS
 ## Margin Auto

* MEDIA QUERIES
 ## 	Mobile Devices <= 600px
 ## Tablet Devices > 600px
 ## Desktop Devices > 992px
 ## Large Desktop Devices > 1200px

/* ============================================================ *\
*                     Universal & Variables                      *
\* -----------------------------------------------------------  */

/* --------------      Universal Selectors       -------------- */

/*      Universal- removes padding & margin & set box-sizing    */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*       Universal- removes text decoration from li and a      */
li,
a {
  text-decoration: none;
}

/* ----------------      Color Variables       ---------------- */

/*       Color variables for easy selection throughout CSS      */
:root {
  --light-blue: #0d7373;
  --dark-blue: #032620;
  --white: #fafbfbff;
  --dark-green: #568c04;
  --light-green: #80ca09;
  --yellow: #f2cc0f;
  --black: #000000ff;
}

/* ============================================================ *\
*                           Elements                             *
\* -----------------------------------------------------------  */

/* html */

html {
  color: var(--dark-blue);
  background-color: var(--dark-blue);
}

footer {
  height: 145px;
  z-index: 700;
  background-color: #263d5a;
  position: absolute;
  bottom: 0px;
  width: 100vw;
}

/* ============================================================ *\
*                           Flexbox                              *
\* -----------------------------------------------------------  */

/*                Class selector to apply flexbox                */
.flexbox {
  display: flex !important;
}

/*         Class selector to apply column flex direction         */
.flexColumn {
  flex-direction: column;
}

/*          Class selector to apply row flex direction           */
.flexRow {
  flex-direction: row;
}

.flexNoWrap {
  flex-wrap: nowrap;
}

/* ============================================================ *\
*                          Typography                            *
\* -----------------------------------------------------------  */

/* -----------------       Font Family       ------------------ */

/* ------------------       Text Wrap       ------------------- */

/*              Class selector to apply text wrap               */
.text-wrap {
  /* Since CSS 2.1 */
  white-space: pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -moz-pre-wrap;
  /* Opera 4-6 */
  white-space: -pre-wrap;
  /* Opera 7 */
  white-space: -o-pre-wrap;
  /* Internet Explorer 5 */
  word-wrap: break-word;
}

.no-wrap {
  /* Since CSS 2.1 */
  white-space: nowrap;
  /* Mozilla, since 1999 */
  white-space: -moz-no-wrap;
  /* Opera 4-6 */
  white-space: -no-wrap;
  /* Opera 7 */
  white-space: -o-no-wrap;
  /* Internet Explorer 5 */
  word-wrap: normal;
}

/* ============================================================ *\
*                          Components                            *
\* -----------------------------------------------------------  */

/* -------------------       Header       --------------------- */
#nav {
  background-color: transparent !important;
  background-image: url("/images/header-background.png") !important;
  height: 145px;
  background-size: contain;
}

#city-header {
  min-width: 40vw;
  max-width: 40vw;
  z-index: 500;
  object-fit: fill;
  position: absolute;
  top: 48px;
}

#header-wrapper {
  background-image: url("/images/header-background.png");
  width: 100vw;
  background-size: contain;
}

#city-sign {
  position: absolute;
  background-image: url("/images/page-title-container.png");
  width: 17vw;
  left: 45vw;
  text-align: center;
  color: var(--yellow);
  font-size: 1.5rem;
  top: 30px;
}

#full-nav {
  position: absolute;
  right: 5vw;
  top: 30px;
}

/* -------------------       Background       --------------------- */

#background-back-layer {
  background-image: url("/images/background-back-layer.png");
  z-index: 400;
}

#background-front-layer {
  background-image: url("/images/background-front-layer.png");
  position: absolute;
  bottom: 120px;
  z-index: 500;
  width: 600vw;
  height: 180px;
  background-size: contain;
}
s #background-city {
  background-image: url("/images/background-city.png");
  z-index: 600;
  position: absolute;
  bottom: 0px;
}

/* footer */
#footerContainer {
  display: flex;
  justify-content: space-evenly;
  color: var(--light-green);
}

#leftFooter {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-around;
  margin: 12px;
}

#rightFooter {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 12px;
  justify-content: space-around;
}

#rightFooter h4 {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

#social-icons {
  display: flex;
  justify-content: space-evenly;
}

.valign-text {
  display: flex;
}
.valign-text i {
  margin-right: 7px;
}

/* Login page */
#login-card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 45vh;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 1000;
}

.login-input {
  width: 80%;
  margin: auto;
}

#login-footer {
  display: flex;
  justify-content: space-evenly;
}

#login-card-header {
  display: flex;
  margin-left: 3%;
}

#signup-button {
  display: flex;
  align-items: center;
}

/* Signu[ page */
#signup-card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 45vh;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 1000;
}

.signup-input {
  width: 80%;
  margin: auto;
}

#signup-footer {
  display: flex;
  justify-content: space-evenly;
}

#signup-card-header {
  display: flex;
  margin-left: 3%;
}

#login-button {
  display: flex;
  align-items: center;
}
/* ============================================================ *\
*                           Helpers                              *
\* -----------------------------------------------------------  */

/* ============================================================ *\
*      Media Queries (Alphabetical by screen size break          *
\* -----------------------------------------------------------  */

/* ----------       Mobile Devices <= 600px S       ------------ */

@media only screen and (max-width: 599px) {
}

/* ----------       Tablet Devices > 600px M      ------------- */

@media only screen and (max-width: 600px) {
}

/* ----------       Desktop Devices > 992px L     ------------- */

@media only screen and (max-width: 992px) {
}

/* ------       Large Desktop Devices > 1200px  XL      ------ */

@media only screen and (max-width: 1200px) {
}

/* ============================================================ *\
*                        Example Heading                         *
\* -----------------------------------------------------------  */

/* -------------       Example Sub-Heading       --------------- */
