/* ============================================================ *\
*         Mary Elenius Final Portfolio General Stylesheet         *
*      https://coolors.co/8cd5cf-fafbfb-4f565d-d5d8d7-000000     *
*                         05/02/2023                             *
\* -----------------------------------------------------------  */

/*                     Table of Contents:                       *\

* UNIVERSAL & VARIABLES
  ## Universal Selectors
  ## Color Variables

* ELEMENTS

* FLEXBOX

* TYPOGRAPHY 
  ## Font Family
  ## Text wrap
  ## Code blocks
  ## Header Tags

* COMPONENTS
 ## Header
 ## Footer

* MEDIA QUERIES
 ## 	Mobile Devices <= 600px
 ## Tablet Devices > 600px
 ## Desktop Devices > 992px
 ## Large Desktop Devices > 1200px

/* ============================================================ *\
*                     Universal & Variables                      *
\* -----------------------------------------------------------  */

/* --------------      Universal Selectors       -------------- */

/*      Universal- removes padding & margin & set box-sizing    */
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*       Universal- removes text decoration from li and a      */
li,
a {
  text-decoration: none;
}

/* ----------------      Color Variables       ---------------- */

/*       Color variables for easy selection throughout CSS      */
:root {
  --red: #d92332;
  --maroon: #8c0f31;
  --white: #fafbfbff;
  --dark-pink: #d93d76;
  --light-pink: #f266b3;
  --oh-god-my-eyes: #f2a0dc;
}

/* ============================================================ *\
*                           Elements                             *
\* -----------------------------------------------------------  */

/* html */

html {
  color: var(--dark-blue);
}

body {
  background-color: var(--light-pink);
}

footer {
  min-height: 145px;
  max-height: 145px;
  z-index: 700;
  background-color: var(--dark-pink);
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

/* ============================================================ *\
*                           Flexbox                              *
\* -----------------------------------------------------------  */

/*                Class selector to apply flexbox                */
.flexbox-turn-on {
  display: flex !important;
}

/* ============================================================ *\
*                          Typography                            *
\* -----------------------------------------------------------  */

/* -----------------       Font Family       ------------------ */

/* ============================================================ *\
*                          Components                            *
\* -----------------------------------------------------------  */

/* -------------------       Header       --------------------- */
#nav {
  background-color: var(--dark-pink);
  height: 145px;
  background-size: contain;
}

#logo {
  height: 80px;
  object-fit: fill;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 5%;
}

#logo-wrapper {
  height: 100%;
}

#header-wrapper {
  width: 100vw;
  background-size: contain;
}

#current-page {
  position: absolute;
  background-image: url('/images/page-title-container.png');
  width: 17vw;
  left: 25vw;
  text-align: center;
  font-size: 1.5rem;
  top: 30px;
}

#full-nav {
  position: absolute;
  right: 5vw;
  top: 30px;
}

/* -------------------       Background       --------------------- */

#background-city {
  z-index: 600;
  position: absolute;
  bottom: 0px;
}

/* footer */
#footerContainer {
  display: flex;
  justify-content: space-evenly;
  color: var(--light-green);
}

#leftFooter {
  display: flex;
  flex-direction: column;
  width: 40vw;
  justify-content: space-around;
  margin: 12px;
}

#rightFooter {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 12px;
  justify-content: space-around;
}

#rightFooter h4 {
  font-size: 1.5rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

#social-icons {
  display: flex;
  justify-content: space-evenly;
}

.valign-text {
  display: flex;
}
.valign-text i {
  margin-right: 7px;
}

/* Login page */
#login-card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 45vh;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 1000;
}

.login-input {
  width: 80%;
  margin: auto;
}

#login-footer {
  display: flex;
  justify-content: space-evenly;
}

#login-card-header {
  display: flex;
  margin-left: 3%;
}

#signup-button {
  display: flex;
  align-items: center;
}

/* Signu[ page */
#signup-card {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 45vh;
  margin: auto;
  padding: 10px;
  margin-top: 5%;
  margin-bottom: 5%;
  z-index: 1000;
}

.signup-input {
  width: 80%;
  margin: auto;
}

#signup-footer {
  display: flex;
  justify-content: space-evenly;
}

#signup-card-header {
  display: flex;
  margin-left: 3%;
}

#login-button {
  display: flex;
  align-items: center;
}

/* Post formatting */
#all-posts {
  height: 80vh;
}
/* ============================================================ *\
*                           Helpers                              *
\* -----------------------------------------------------------  */

/* ============================================================ *\
*      Media Queries (Alphabetical by screen size break          *
\* -----------------------------------------------------------  */

/* ----------       Mobile Devices <= 600px S       ------------ */

@media only screen and (max-width: 599px) {
}

/* ----------       Tablet Devices > 600px M      ------------- */

@media only screen and (max-width: 600px) {
}

/* ----------       Desktop Devices > 992px L     ------------- */

@media only screen and (max-width: 992px) {
}

/* ------       Large Desktop Devices > 1200px  XL      ------ */

@media only screen and (max-width: 1200px) {
}

/* ============================================================ *\
*                        Example Heading                         *
\* -----------------------------------------------------------  */

/* -------------       Example Sub-Heading       --------------- */
